table, td, th {
    border: 1px solid black;
    padding: 15px;
}


td{
    cursor: pointer;

}
  
table {
    width: 50%;
    border-collapse: collapse;
    text-align: center;
    margin-top: 50px;
    margin-left: 20%;
}